<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Our Recipes</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Recipes</h1>
        <section class="row">
            <main class="col-sm-12">
                <h2>{{ pageTitle }}</h2>
                {{{body}}}
            </main>
        </section>
    </div>

    <script src="/public/js/vendor.js"></script>
    <script src="/public/js/components.js"></script>
</body>

</html>