<main>
    <div class="flex-container">
        <article>
            Samantha is a Havanese.
        </article>
        <article>
            Maius is a golden retriever.
        </article>
        <article>
            Penny is a West Highland White Terrier. What a name.
        </article>
        <article>
            Sasha is a Chihuaha-Beagle-Whippet. Somehow.
        </article>
        <article>
            Neal is a cat, but that's okay. We can't all be dog people.
        </article>
        <article>
            Godzilla is a lizard. A really, really big lizard. He breathes fire.
        </article>
    </div>

    <div class="flex-vertical-container">
        <article>
            Godzilla is a lizard. A really, really big lizard. He breathes fire.
        </article>
    </div>
</main>