<div class="row">
    <div class="col-sm-12">    
        <h3 class="topic">Discussion of the day: why does summer have to end when vacation is so nice? <a href="https://google.com">Click here to search for 10 reasons why!</a></h3>
        <ul class="messages list-unstyled">
            <li id="8675309"><p><em><a href="#8675309">@phil:</a></em> I guess because we'd never appreciate the good if there was no bad 5deep4me</p></li>
            <li id="512498"><p><em><a href="#512498">@kevin:</a></em> dude, woah</p></li>
            <li></li>
        </ul>
        <input type="text" placeholder="your new message" disabled="disabled" />
    </div>
</div>
